.amarillo {
	background-color: #FCCB00;
	display: inline;
	width: 70px;
	height: 60px;
	text-align: left;
	font-family: Tahoma;
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	

}

.amarilloRojo {
	background-color: #EE181E;
	width: 30px;
}

.contenedor {
	margin-top: 30px;
}



